# Dependencies
node_modules/
*/node_modules/

# Environment files
.env
*/.env

# Build folders
dist/
build/
*/dist/
*/build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Vite
.vite/

# Coverage
coverage/



.vscode/*
!.vscode/extensions.json
.idea